.card{
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    background-color: rgb(187, 182, 175);
}
.card-header{
    background-color: gray;

}
body{
    background-color: rgb(187, 182, 175);
}
h1 { 
    color: rgb(25, 172, 221);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
}
.card-body {
             background-color: lightblue;
}