<body>
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Inspirational Quotes</h1>
        <div *ngFor='let quote of quotes; let i = index'>
          <div class="card">
            <div class="card-header" style="font-weight: bolder">New Quote:</div>
            <div class="card-body">
            <p><b>Authored by:</b> {{ quote.authorName }}</p>
            <p>{{ quote.description }}</p>
            <p>
              This quote was submitted {{ quote.dateSubmitted |dateCount }} days
              ago!
            </p>
            <p><b>Submitted by:</b> {{ quote.submitterName }}</p>

                     <!-- votes -->
            <div class="col-4-md">
              <form class="form-inline">
                <button class="btn" (click)="addUpVote(i)">
                  <i class="fa fa-thumbs-up" aria-hidden="true" style="color: rgb(100, 124, 76)"></i>
                  {{ quote.upvote }}
                </button>
                <h4 *ngIf="quote === highestUpVote()" class="card-title">
                  <i class="fas fa-trophy" style="color: blue"></i>
                </h4>
                <button class="btn" (click)="addDownVote(i)">
                  <i class="fa fa-thumbs-down" aria-hidden="true" style="color: red"></i>"
                  {{ quote.downvote }}
                </button>
               
              </form>
            </div>
            </div>
            <br/>
                     <!-- endOfVotes -->

                     <!-- deleteButton -->

             <div class="card-footer">    
            <app-quote-details *ngIf="quote" [quote]="quote" (isComplete)= "delete($event, i)">

            </app-quote-details>
          </div> 
            </div>
            </div>
            </div>
          
            <div class="col-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>
            </div>
            </div>
          </body>